.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-logo {
    margin-left: 1rem;
    animation: rotating 10s infinite linear;
    width: 6.25rem;
    height: 6.25rem;
}

@keyframes rotating {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
